@model bool
@{
    ViewData["Title"] = "Confirm";
}

<div class="alert alert-success" role="alert">
    Zapisano!
</div>

<script>
    window.setTimeout(function(){
window.location.href='Index';
}, 4000);
</script>